<%= render "layouts/header" %>
<!--ユーザー編集-->
<div class="container">
<% if @user.errors.any? %>
  <div>
    <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <h2>User info</h2>
  <%= form_for(@user) do |f|%>
     <div>
      <label>Name</label><!--名前-->
      <%= f.text_field :name %>
    </div>
    <div>
      <label>Image</label><!--画像投稿-->
      <%= f.attachment_field :profile_image %><!--idなしでおけ-->
    </div>
    <div>
      <label>Introduction</label><!--自己紹介-->
      <%= f.text_area :introduction %>
    </div>
    <div>
      <%= f.submit "Update User"%><!--投稿-->
    </div>
  <% end %>
</div>
<%= render "layouts/footer" %>
 <!--画像投稿-->
  <!--エラー設定まだ-->