<%= render "layouts/header" %>
<!--ユーザー編集-->
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>User info</h2>
<%= form_for(@user) do |f|%>
    <label>Name</label><!--名前-->
    <%= f.text_field :name %>
    <label>Image</label><!--画像投稿-->
    <%= f.attachment_field :profile_image %><!--idなしでおけ-->
    <label>Introduction</label><!--自己紹介-->
    <%= f.text_area :introduction %>

   <%= f.submit "Update User"%><!--投稿-->
<% end %>
<%= render "layouts/footer" %>

 <!--画像投稿-->
  <!--エラー設定まだ-->