<!--ログイン後一覧-->

<!--部分テンプレここから-->
	<!--ヘッダー-->
<!--ログインしてるユーザーの説明-->
<h2>User info</h2>
 <!--画像表示するようにする-->
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "sample.jpg" %>
 <table>
   	<tbody>
   	  <tr><th>name</th><th><%= @user.name %></th></tr><!--railsなので％-->
   	  <tr><th>introduction</th><th><%= @user.introduction %></th></tr>
   	</tbody>
 </table>
  <% if @user.id == current_user.id %>
    <div>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
    </div>
    <% end %>
<!--ユーザー編集-->

<!--フォーム-->
<h2>New Book</h2>
<%= form_for(@book) do |f| %>
  <div>
  	<label>Title</label>
  	<%= f.text_field :title %>
  </div>
  <div>
  	<label>Opinion</label>
  	<%= f.text_area :body%>
  </div>
  <div>
  	<%= f.submit "Create Book"%>
  </div>
<% end %>
<!--部分テンプレ終了-->
<!--投稿一覧-を作る-->
<div>
  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th><th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @user.books.each do |book| %><!--userに紐ついているbookテーブルを所得-->
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "sample.jpg" %></td>
        <td><%= link_to book.title, book_path(book.id) %></td><!--うえでどこから取るか指定しているので＠userなしタイトルをshowへ-->
        <td><%= book.body %></td><!--opinion-->
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
