<!-- 編集-->
<!-- 部分テンプレート-->
<div>
	<h1>Editing Book</h1>
	<%= form_for @book do |f| %><!-- 編集対象のデータさんしょう-->
		<div>
			<label>Title</label>
			<%= f.text_field :title %>
		</div>
		<div>
			<label>Opinion</label>
			<%= f.text_area :body%>
		</div>
		<div>
			<%= f.submit "Update Book"%>
		</div>
	<% end %>
</div>
<%= link_to "Show", book_path(@book.id) %> | <!-- bookのshowにリンク-->
<%= link_to "Back",books_path %> <!-- 全員の一覧へ戻る??リンクあってる？-->