<header>
  <div>
  	<nav>
	  <span>Bookers</span>
	</nav>
	<div>
      <nav>
	    <%if user_signed_in? %><!-- ログイン -->
		    <%= link_to "Home", user_path(current_user.id) %><!-- gazou -->
		    <%= link_to "Users", users_path %>
		    <%= link_to "Books", books_path%>
		    <%= link_to "logout", destroy_user_session_path, method: :delete %>
	    <% else %>
	        <%= link_to "Home", root_path %>
	        <%= link_to "About", home_about_path %>
	        <%= link_to "Sign up", new_user_registration_path %>
	        <%= link_to "login", new_user_session_path %>
	     <% end %>
       </nav>
    </div>
  </div>
</header>